/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
*.sublime-project
*.sublime-workspace
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
nbproject/
.vagrant

/fuel/app/assets/sass/.sass-cache
/fuel/app/config/development/migrations.php
/fuel/app/config/development/config.php
